.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.siteLogo {
  width: 95px;
  height: 81px;
  margin: 15px;
}

.headerIconsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 15px;
}

.iconMarginHorizontal {
  margin-left: 20px;
  margin-right: 20px;
}

.shoppingCartCount {
  position: relative;
  top: 20px;
  left: 10px;
}
.iconSize {
  width: 25px;
  height: 25px;
}

.tshirtCard {
  background-color: #2e2e2e;
  width: 50%;
  margin-left: 1px;
  margin-bottom: 10px;
}

.tshirtImage {
  width: 80%;
}

.tshirtType {
  text-align: left;
  margin-left: 100px;
  position: relative;
  top: 100px;
  color: #2e2e2e;
  z-index: 100;
  /* font-size: 30px; */
}
.tshirtName {
  text-align: left;
  margin-left: 100px;
  font-size: 5rem;
  position: absolute;
  color: #2e2e2e;
  top: 300px;
  z-index: 100;
  margin-top: 0;
}

.imageDiv {
  position: relative;
  justify-content: center;
}
.buyButtonDiv {
  position: absolute;
  bottom: 50px;
  left: 350px;
}

.imageDiv:hover .buyButtonDivProduct {
  transition: 1s;
  display: block;
  position: absolute;
  bottom: 50px;
  left: 130px;
}
.buyButtonDivProduct {
  display: none;
  position: absolute;
  bottom: 50px;
  left: 100px;
}
.button {
  background-color: transparent;
  border: none;
}
.button:hover .buttonText {
  color: #02020380;
}
.buttonText {
  transition: 0.5s;
  font-weight: bold;
  color: #0062ff80;
}
.secondary-button {
  background-color: transparent;
  border-radius: 20px;
  transition: 0.5s;
  border-color: #0d0e1180;
}
.secondary-button:hover {
  background-color: #16191d80;
}
.secondary-button:hover .buttonText {
  color: #fff;
}
.mailDiv {
  display: flex;
  align-items: center;
}

.tshirtBannerDiv {
  display: flex;
  background-color: #2e2e2e;
}

.marqueeText {
  padding: 2rem;
  font-size: 1rem;
}

.title {
  font-size: 5rem;
  color: white;
  text-align: center;
  margin: 0;
  padding: 4rem;
}

.eskiSerilerDiv {
  background-color: #2e2e2e;
  font-weight: bold;
}

.productCardDiv {
  /* display: flex; */
  /* flex-direction: column; */
  /* width: 20%; */
  margin: 3rem 3rem;
}

.frontImage {
  display: block;
  transition: 1s;
}
.hoverImage {
  display: none;
  transition: 1s;
}

.productCardDiv:hover .frontImage {
  display: none;
  transition: 1s;
}

.productCardDiv:hover .hoverImage {
  transition: 1s;
  display: block;
  border-radius: 20px;
  width: 100%;
}

.productImage {
  width: 100%;
  border-radius: 20px;
}

.productCardInfo {
  display: flex;
  justify-content: space-between;
}

.white {
  color: white;
}
.footerDiv {
  display: flex;
  justify-content: space-between;
}
.footerList li {
  list-style: none;
  font-weight: bold;
  margin: 1rem;
}

.footerList li a {
  text-decoration: none;
  color: #282c34;
}

.footerLeft {
  width: 50%;
  margin: 0 3rem;
}
.footerRight {
  width: 10%;
  margin: 0 10rem;
}

.footerFormTitle {
  text-align: right;
  font-weight: bold;
  font-size: 2rem;
}
.footerInput {
  border: none;
}

.inputComponent {
  border: none;
  border-bottom: 2px solid #a6a6a6;
  padding: 0.5rem;
  transition: border-bottom 1s;
  color: #a6a6a6;
}

.inputComponent:focus {
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}
.inputComponent:hover::placeholder {
  transition: 1s;
  color: black;
}

.underlineText {
  text-decoration: underline;
}

.DetailPage{
  min-height: 100vh;
}

.contentContainer{
  background-color: #3c3c3f;
  height: 50vh;
}
