.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.siteLogo {
  width: 95px;
  height: 81px;
  margin: 15px;
}

.headerIconsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 15px;
}

.iconMarginHorizontal {
  margin-left: 20px;
  margin-right: 20px;
}

.shoppingCartCount {
  position: relative;
  top: 20px;
  left: 10px;
}
.iconSize {
  width: 25px;
  height: 25px;
}

.tshirtCard {
  background-color: #2e2e2e;
  width: 50%;
  margin-left: 1px;
  margin-bottom: 10px;
}

.imageDiv {
}
.tshirtImage {
  width: 80%;
}

.tshirtType {
  text-align: left;
  margin-left: 100px;
  position: relative;
  top: 100px;
  color: #2e2e2e;
  /* font-size: 30px; */
}
.tshirtName {
  text-align: left;
  margin-left: 100px;
  font-size: 5rem;
  position: relative;
  color: #2e2e2e;
  top: 300px;
}

.button {
  position: relative;
  background-color: transparent;
  padding: 10px;
  border-radius: 50px;
  border-color: #00020480;
  bottom: 150px;
  width: 50%;
}
.button:hover {
  background-color: #00000080;
  color: white;
  transition: 0.5s;
}

.buttonText {
  font-weight: bold;
  color: #002f7a80;
}

.tshirtBannerDiv {
  display: flex;
  background-color: #2e2e2e;
  justify-content: space-between;
}

.marqueeText {
  padding: 2rem;
  font-size: 1rem;
}

.title {
  font-size: 5rem;
  color: white;
  text-align: center;
  margin: 0;
  padding: 4rem;
}

.eskiSerilerDiv {
  background-color: #2e2e2e;
  font-weight: bold;
}

.productCardDiv {
  /* display: flex; */
  /* flex-direction: column; */
  /* width: 20%; */
  margin: 0 7rem;
}

.frontImage {
  display: block;
}
.hoverImage {
  display: none;
}

.productCardDiv:hover .frontImage {
  display: none;
  transition: 1s;
}

.productCardDiv:hover .hoverImage {
  transition: 1s;
  display: block;
  border-radius: 20px;
  width: 100%;
}

.productImage {
  width: 100%;
  border-radius: 20px;
}

.productCardInfo {
  display: flex;
  justify-content: space-between;
}

.white {
  color: white;
}
.footerDiv {
  display: flex;
  justify-content: space-between;
}
.footerList li {
  list-style: none;
  font-weight: bold;
  margin: 1rem;
}

.footerList li a {
  text-decoration: none;
  color: #282c34;
}

.footerLeft {
  width: 50%;
  margin: 0 3rem;
}
.footerRight {
  width: 10%;
  margin: 0 10rem;
}

.footerFormTitle {
  text-align: right;
  font-weight: bold;
  font-size: 2rem;
}
.footerInput {
  border: none;
}
.footerInput:focus {
  /* border-bottom: 5px solid; */
}
